@charset "UTF-8";
@import url(./normalize.css);
html {
  font-family: "PingFangTC-Regular", "Heiti TC", "Noto Sans TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html body {
  margin: 0;
  background-color: #eeeeee;
}

html body .mem_form {
  margin: 30px auto;
  max-width: 900px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  padding: 20px 50px;
}

html body .mem_form form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  border: none;
}

html body .mem_form form h2 {
  margin-top: 0;
  font-size: 28px;
}

html body .mem_form form h3 {
  margin: 0;
  font-size: 20px;
  border-top: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

html body .mem_form form h4 {
  font-size: 16px;
}

html body .mem_form form .form_title {
  margin-bottom: 20px;
}

html body .mem_form form .form_title label {
  font-size: 18px;
  font-weight: 800;
  display: inline-block;
  width: 15%;
  color: #5ac832;
}

html body .mem_form form .form_title select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  border: none;
  display: inline-block;
  font-size: 18px;
  width: 342px;
  height: 41px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #707070;
  background-image: url(./img/select_arrow.png);
  background-repeat: no-repeat;
}

html body .mem_form form .form_title select::-ms-expand {
  display: none;
}

html body .mem_form form .form_title .pres_price {
  display: inline-block;
  margin-left: 5px;
  color: #707070;
}

html body .mem_form form .form_title input[type="text"] {
  font-size: 18px;
  display: inline-block;
  width: 342px;
  height: 40px;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #5ac832;
  color: #707070;
}

html body .mem_form form .form_title input.mem_add {
  width: 80%;
}

html body .mem_form form .form_title .add_tip {
  display: inline-block;
  margin-left: 15%;
  color: #707070;
}

html body .mem_form form .checkbox {
  font-size: 18px;
  margin-bottom: 60px;
  color: #707070;
}

html body .mem_form form .checkbox input[type="checkbox"] {
  display: none;
}

html body .mem_form form .checkbox input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 26px;
  background-image: url(./img/checkbox_off.png);
  background-repeat: no-repeat;
  background-size: cover;
}

html body .mem_form form .checkbox input[type="checkbox"]:checked + label::before {
  background-image: url(./img/checkbox_on.png);
}

html body .mem_form form .checkbox label {
  position: relative;
  display: inline-block;
  line-height: 30px;
  padding-left: 30px;
}

html body .mem_form form .checkbox label::after {
  content: "";
  display: table;
  clear: both;
}

html body .mem_form form .submit {
  text-align: center;
  margin-bottom: 40px;
}

html body .mem_form form .submit input[type="submit"] {
  background-color: #7e8083;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  border: 1px solid #7e8083;
  border-radius: 50px;
  color: white;
  font-size: 22px;
  width: 310px;
}

html body .mem_form form .submit input[type="button"] {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  border: 1px solid #7e8083;
  border-radius: 50px;
  margin-left: 25px;
  color: #7e8083;
  font-size: 22px;
  width: 310px;
}

html body .mem_form form .remind p {
  color: #707070;
}

@media (max-width: 768px) {
  html body .mem_form {
    margin: 0 auto;
    padding: 5.33333vw;
  }
  html body .mem_form form h2 {
    font-size: 6.4vw;
  }
  html body .mem_form form h3 {
    font-size: 4.53333vw;
    margin-bottom: 2.13333vw;
  }
  html body .mem_form form h4 {
    font-size: 3.73333vw;
    margin: 0;
  }
  html body .mem_form form .form_title {
    position: relative;
    margin-bottom: 4vw;
  }
  html body .mem_form form .form_title label {
    display: none;
  }
  html body .mem_form form .form_title select {
    width: 100%;
    height: 13.33333vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 4vw;
    padding: 0 4vw;
    background-image: url(./img/select_arrow_mb.png);
    background-size: contain;
  }
  html body .mem_form form .form_title .pres_price {
    margin: 2.66667vw 0;
    font-size: 4vw;
  }
  html body .mem_form form .form_title input[type="text"] {
    width: 100%;
    height: 13.33333vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 4vw;
    padding: 0 4vw;
  }
  html body .mem_form form .form_title .add_tip {
    margin: 2.66667vw 0;
    font-size: 4vw;
  }
  html body .mem_form form .form_title .add_tip a {
    display: block;
    margin-top: 1.33333vw;
  }
  html body .mem_form form .form_title::before {
    display: inline-block;
    width: auto;
    position: absolute;
    left: 4.8vw;
    top: -2.13333vw;
    color: #5ac832;
    background-color: white;
    font-size: 4vw;
    font-weight: 800;
  }
  html body .mem_form form .select1::before {
    content: "遊戲名稱";
  }
  html body .mem_form form .select2::before {
    content: "活動名稱";
  }
  html body .mem_form form .select3::before {
    content: "贈品名稱";
  }
  html body .mem_form form .text1::before {
    content: "收件人姓名";
  }
  html body .mem_form form .text2::before {
    content: "連絡電話1";
  }
  html body .mem_form form .text3::before {
    content: "連絡電話2";
  }
  html body .mem_form form .text4::before {
    content: "收件地址";
  }
  html body .mem_form form .checkbox {
    font-size: 4vw;
    margin-bottom: 10.66667vw;
    color: #707070;
  }
  html body .mem_form form .checkbox input[type="checkbox"] + label::before {
    width: 5.6vw;
    height: 5.86667vw;
    left: 0;
  }
  html body .mem_form form .checkbox label {
    padding-left: 6.66667vw;
    line-height: normal;
  }
  html body .mem_form form .submit {
    text-align: center;
    margin-bottom: 8vw;
  }
  html body .mem_form form .submit input[type="submit"] {
    font-size: 4.26667vw;
    width: 100%;
    margin-bottom: 4vw;
    height: 13.33333vw;
  }
  html body .mem_form form .submit input[type="button"] {
    margin-left: 0;
    font-size: 4.26667vw;
    width: 100%;
    height: 13.33333vw;
  }
  html body .mem_form form .remind p {
    color: #707070;
    font-size: 3.73333vw;
  }
}
/*# sourceMappingURL=default.css.map */